@import "../node_modules/bootstrap/scss/bootstrap";
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
body {
    font-family: sans-serif;
}
h1,
input {
    font-family: serif;
}
